.article-page {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.a-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.a-cat {
  background: black;
  color: white;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 13px;
  margin-top: 18px;
  display: inline-block;
}

.a-title {
  margin-top: 12px;
  font-size: 30px;
  font-weight: 800;
}

.a-meta {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin: 10px 0 20px 0;
  color: #555;
}

.a-bookmark {
  background: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.a-desc {
  font-size: 17px;
  margin-bottom: 20px;
}

.a-content {
  line-height: 1.7;
  font-size: 17px;
  color: #333;
}

.a-line {
  margin: 30px 0;
  opacity: 0.4;
}

/* Related */
.related-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 14px;
}

.related-card {
  padding: 10px;
}

.related-list {
  display: flex;
  gap: 20px;
}

.sk-img {
  height: 100px;
  background: #ddd;
  border-radius: 10px;
}

.sk-line {
  height: 14px;
  background: #ccc;
  margin-top: 10px;
  border-radius: 6px;
}

.sk-line.small {
  width: 60%;
}
