.settings-page {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.settings-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;
}

/* Setting Box */
.setting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 14px;
  margin-bottom: 18px;
  background: #fafafa;
}

.s-head {
  font-size: 18px;
  font-weight: 700;
}

.s-sub {
  color: #666;
  font-size: 14px;
  margin-top: 4px;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

/* Language dropdown */
.language-select {
  padding: 6px 12px;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
}
