.edit-page {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.edit-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.edit-input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 16px;
}

.textarea {
  height: 120px;
  resize: vertical;
}

.big {
  height: 220px;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload-btn {
  background: black;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.upload-btn input {
  display: none;
}

.preview-img {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 10px;
  padding: 12px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.save-btn:hover {
  opacity: 0.9;
}
